<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <base href="/"/>
  <title>TRACES - SKYE WEB</title>
  <link href="styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table class="list" border="1" cellpadding="5" cellspacing="1">
  <thead>
  <tr>
    <th>Trace id</th>
    <th>Trace name</th>
    <th>Created</th>
  </tr>
  </thead>
  <tbody>
  #foreach ($t in $traces)
  <tr>
    <td><a href="trace/$t.traceId">$t.traceId</a></td>
    <td>$t.name</td>
    <td>${dateTool.format($t.created)}</td>
  </tr>
  #end
  </tbody>
</table>

</body>
</html>
